body {
  background: #555;
  background: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: helvetica;
  font-weight: 100;
  text-align: center;
  font-family: Futura;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.25rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.swatch {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 15px solid #333;
}

input[type=range], 
label { 
  display: block;
  width: 100%;
}

.input-group,
.value-text {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 0.5rem;
  background: #333;
  padding: 1rem;
}

.preview {
  min-height: 30px;
}

.dark-bg {
  /* background: #333; */
  padding: 1rem;
  /* margin-left: auto;
  margin-right: auto; */
}